<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{!-- --}}
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
                    <div class="col-md-12 col-10 main_header_left align-items-center ">
                     <h1>{{errorMsg}}</h1>
                        <figure class="errimg">
                            <img src="404error.jpg" alt="women" class="img-fluid" title="women">
                        </figure>
                    </div>
            {{!-- </div> --}}
        {{!-- </div> --}}
    </div>
    </div>

    {{>footer}}
</body>

</html>